.servicesTop {
    background-image: url("../../assets/images/strips1.png");
    background-repeat: repeat-y;
    background-position: right;
}

.servicesTextContainer {
    width: 62%;
    padding: 36px 0 36px 36px;

    :nth-child(1) {
        margin-top: 0;
    }
}

.dotsBox1 {
    float: right;
    position: relative;
    top: 100px;
    right: 200px;
}

.servicesTitle {
    font-family: sail;
}

.servicesBody {
    line-height: 16pt;
}

.servicesTitle,
.servicesBody {
    color: #be7e3e;
}