.aboutTop {
    background-image: url("../../assets/images/strips1.png");
    background-repeat: repeat-y;
    background-position: right;
}

.aboutTextContainer {
    width: 62%;
    padding: 36px 0 36px 36px;
}

.dotsBox1 {
    float: right;
    position: relative;
    top: 100px;
    right: 200px;
}

.aboutTitle {
    font-family: sail;
    margin-top: 0;
}

.aboutBody {
    line-height: 16pt;
}

.aboutTitle,
.aboutBody {
    color: #be7e3e;
}