@font-face {
    font-family: sail;
    src: url('../../assets/fonts/Sail-Regular.ttf')
}

.center {
    font-family: sail;
}

.logo {
    display: block;
    margin: auto;
}

.center {
    color: #be7e3e;
}