.main-nav {
    // width: 48%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    // left: 50%;
    margin: 4% 0;
}

.navItem {
    font-family: gothamMedium;

    a {
        color: #be7e3e;
        text-decoration: none;
    }

    a:hover {
        color: orange;
    }
}